<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="/home" style="color: inherit; text-decoration: none;">Rosco Pasapalabra</a>
    </ion-title>
    <ion-buttons slot="end" style="margin-right: 20px; font-size: large;">
      <div #temporizador>

      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rosco-container" #rosco>
    <div #empieza style="color: black"></div>
    <div class="question-container" #question>Presiona una letra para ver la pregunta</div>
    <form [formGroup]="formularioRespuesta" *ngIf="mostrarInputBoton" (ngSubmit)="verificarRespuesta()">
      <ion-input #respuestaInput formControlName="respuesta" placeholder="Escribe tu respuesta" style="color: black"></ion-input>
    </form>
    <ion-button expand="full" *ngIf="mostrarInputBoton" (click)="verificarRespuesta()">Responder</ion-button>
  </div>

  <ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Puntuación Final</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <h2 style="color: black">Puntuación: {{ respuestasCorrectas }} de {{ letras.length }}</h2>
          <ion-button (click)="cerrarModal()">Cerrar</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
