<ion-header [translucent]="true" class="header">
  <ion-toolbar class="header">
    <ion-title style="color: white">
      Bienvenido/a al pasapalabra de San Ignacio de Loyola
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-img src="https://www.logo-arte.com/imagenes/religion/ignacio-loyola2.png"></ion-img>
    <ion-title class="title">¿En qué nivel estás?</ion-title>
    <ion-button class="button">Primaria</ion-button>
    <ion-button class="button">Secundaria</ion-button>
  </div>
</ion-content>
