/* Estilos para el contenedor */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;

}

/* Estilos para el header */
.header {
  background: #5c7586;
}

/* Estilos para el título del header */
ion-title {
  font-size: 28px;
  font-weight: bold;
  color: #5c7586; /* Color del texto */
  text-align: center; /* Poner el texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  flex: 0;
}

ion-img{
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
}

/* Estilo del ion-toolbar */
ion-toolbar {
  --background: transparent; /* Eliminar fondo del toolbar */
  padding: 0;
  display: flex;
  justify-content: center; /* Centrar el título */
  align-items: center; /* Alineación vertical */
}

/* Desactivar estilos predeterminados del ion-button */
ion-button {
  --background: #5c7586; /* Elimina el fondo predeterminado */
  --border-radius: 50px; /* Bordes redondeados */
  --box-shadow: #5c7586; /* Elimina la sombra predeterminada */
  --color: white; /* Color del texto */
  --padding-start: 20px; /* Alineación y espacio al inicio */
  --padding-end: 20px; /* Alineación y espacio al final */
  --font-weight: bold; /* Establece un peso de fuente en negrita */
  --font-size: 18px; /* Tamaño de fuente */
  text-transform: uppercase; /* Pone el texto en mayúsculas */
  border: 2px solid #5c7586; /* Bordes del botón */
  background-color: #5c7586; /* Fondo transparente */
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 250px;
  padding: 15px;
  margin: 15px 0;
}

/* Efecto visual para el hover */
ion-button:hover {
  transform: translateY(-5px);
  background-color: #5c7586;
  --background-hover: transparent;
}

/* Efecto activo al hacer clic */
ion-button:active {
  transform: translateY(2px);
}
